<div class="etk_content" style="color:#000000">
    Aplicación para controlar gastos, muy basica pero permite utilizar varias monedas. <br/>
    Version 1.0 Alpha <br/>
     Ir a la aplicacion de Finanzas <br />
     <a href="{{ path('sfp_index') }}" >Click Aquí</a>
</div>
    