{% extends 'EtkNoticiasBundle::layout.html.twig' %}

{% block title %}
    Contacto:
{% endblock %}

{% block content %}
    {{ parent() }}
    Para mas información, comunicarse al 1130149888 o por mail a <a href="mailto:mariano.eiberman@gmail.com">mariano.eiberman@gmail.com</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        angular.module('myApp', []).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('<%').endSymbol('%>');
        });       
        $.datepicker.formatDate("yy-mm-dd");
        $( "#datepicker" ).datepicker({
            inline: true
        });
    </script>
{% endblock %}

