{% extends 'EtkNoticiasBundle::layout.html.twig' %}

{% block title %}
    Bienvenido a la Pagina de {{ app.environment }}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="etk_header_1" >   Bienvenido a la Pagina de Noticias </div>
    {% set values = [1,2,3,4,5,6,7] %}
    <br />
    <div data-ng-app="myApp" data-ng-init="names=['Jani','Hege','Kai']">
  <ul>
    <li data-ng-repeat="x in names">
     <% x %>
    </li>
  </ul>    
    </div>     
        <p>Date: <input type="text" id="datepicker"></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        angular.module('myApp', []).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('<%').endSymbol('%>');
        });       
        $.datepicker.formatDate("yy-mm-dd");
        $( "#datepicker" ).datepicker({
            inline: true
        });
    </script>
{% endblock %}

