{% extends 'EtkNoticiasBundle::layout.html.twig' %}

{% block title %}
  {# Bienvenido a la Pagina de {{ app.environment }} #}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="etk_header_1" >Aplicaciones Web</div>
    <br />
    <div>
        Bienvenido a la pagina de Eibertek. -- En construcción --
     
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        angular.module('myApp', []).config(function($interpolateProvider){
            $interpolateProvider.startSymbol('<%').endSymbol('%>');
        });       
        $.datepicker.formatDate("yy-mm-dd");
        $( "#datepicker" ).datepicker({
            inline: true
        });
    </script>
{% endblock %}

