{# empty Twig template #}
Estimado {{ usuario.nombre }} {{ usuario.apellido }}:<br>
{{ usuario.id }}
Se ha Registrado su mail a nuestra plataforma, si quiere activarlo haga click aqui:<br/>

<a href="http://etek-local.local/app_dev.php/usuarios/activar?id={{ usuario.id }}">Link de activacion</a> <br/>

<br/>
Eibertek