{# empty Twig template #}
Estimado {{ usuario.nombre }} {{ usuario.apellido }}:<br>
Se ha Registrado su mail a nuestra plataforma, si quiere activarlo haga click aqui:<br/>

<a href="{{ url('etk_usuarios_activar',{'id':usuario.id} )}}">Link de activacion</a> <br/>

<br/>
Eibertek