{# empty Twig template #}
Estimado {{ usuario.nombre }} {{ usuario.apellido }}:<br>
Siga el siguiente link para cambiar la contraseña de su usuario:<br/>

<a href="{{ url('etk_usuarios_activar',{'id':link} )}}">click Aqui</a> <br/>

<br/>
Eibertek