{% extends 'EtkNoticiasBundle::layout.html.twig' %}

{% block content %}
    <div class="panel-title">Dashboard de Finanzas</div>
    <div class="panel-body">Ultimos registros</div>
        
    {% for flashMessage in app.session.flashbag.get('message') %}
        <p>{{ flashMessage }}</p>
    {% endfor %}
{% endblock %}