{% extends "::base.html.twig" %}

{% block title %}EtkSFPBundle:registroController:modificar{% endblock %}

{% block body %}
<h1>Welcome to the registroController:modificar page</h1>
{% endblock %}
